asgiref==3.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.1.1
cryptography==42.0.5
Django==4.1.13
django-extensions==3.2.3
idna==3.6
MarkupSafe==2.1.5
Pillow==9.2.0
psycopg2-binary==2.9.9
pycparser==2.21
pyOpenSSL==24.1.0
requests==2.28.1
sqlparse==0.4.2
urllib3==1.26.18
Werkzeug==2.2.2
